.notifications {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
}

.title {
    font-size: 32px;
    font-weight: 500;
    color: var(--dark-grey);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    background-color: var(--dark-white_borders);
    padding: 16px;
    border-radius: 16px;
    position: relative;
}

.icon {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.nameRow {
    display: flex;
    gap: 6px;
    align-items: baseline;
    font-size: 27px;
    font-weight: 600;
    color: var(--dark-grey);
}

.year {
    font-weight: 400;
}

.text {
    font-size: 24px;
    color: var(--dark-grey);
    line-height: 1.4;
}

.date {
    font-size: 24px;
    align-self: flex-end;
    color: var(--grey);
}
