.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: 1px solid var(--dark-white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 8px;
    position: relative;
}

.label {
    font-size: 18px;
    font-weight: 200;
    color: var(--dark-grey);
    position: absolute;
    top: -14px;
    left: 25px;
    pointer-events: none;
    background-color: var(--white);
    transition: all 0.2s ease-in-out;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: var(--dark-grey);
}

.tag span {
    font-size: 14px;
    color: var(--dark-grey);
}

.remove {
    background: none;
    border: none;
    font-size: 16px;
    color: #888;
    cursor: pointer;
}

.remove:hover {
    color: #f44336;
}

.remove:focus {
    outline: none;
}