.button {
    font-weight: 600;
    font-size: 28px;
    padding: 10px 55px;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}

.default {
    width: auto;
    border: none;
    background-color: var(--grey);
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

.default:hover {
    background-color: var(--light-grey);
}

.default:active {
    background-color: var(--dark-grey);
}

.border {
    border: 3px solid var(--grey);
    background-color: var(--white);
    color: var(--grey);
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

.border:hover {
    background-color: var(--light-grey2);
}

.border:active {
    color: var(--white);
    background-color: var(--grey);
}

.red {
    border: 2px solid transparent;
    background-color: var(--light-red);
    color: var(--white);
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
}

.red:hover {
    border: 2px solid var(--red-outline);
}

.red:active {
    background-color: var(--deep-red);
}

.small {
    font-size: 22px;
    padding: 7px 40px;
    width: fit-content;
}
