.card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border-radius: 10px;
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-grey);
}

.role {
    font-size: 24px;
    color: var(--grey);
    gap: 8px;
}

.checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.label {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-grey);
    margin-left: 8px;
}

.headerWithMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menuDropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 12px;
    z-index: 10;
}

.excludeButton {
    background: none;
    border: none;
    color: var(--light-red);
    font-size: 16px;
    cursor: pointer;
    padding: 4px 8px;
    transition: color 0.2s;
}

.excludeButton:hover {
    color: var(--deep-red);
}

.card.contact .infoBlock {
    flex-direction: row;
    justify-content: space-between;
}

.card.contact .contactCheckbox {
    margin-left: 16px;
}

.card.interactive .infoBlock {
    flex-direction: column;
    gap: 10px;
}

.card.interactive .checkboxRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card.checkboxOnly .infoBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.card.checkboxOnly .checkbox {
    margin-left: auto;
    margin-top: 0;
}
