@font-face {
    font-family: 'Averta';
    src: url('../assets/fonts/Averta.woff2') format('woff2'),
    url('../assets/fonts/Averta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --dark-white: #F9F9F9;
    --dark-grey: #585858;
    --grey: #696967;
    --light-grey: #858585;
    --pale-gray: #C7C7C7;
    --light-blue: #D5EEF3;
    --lilac: #D0D4ED;
    --light-green: #A6D4AF;
    --turquoise: #3A8D9D;
    --green: #25751E;
    --deep-red: #A94242;
    --light-red: #FF8080;
    --red-outline: #843F3F;
    --interface-color: #D9D9D9;
    --dark-white_borders: #EAEAEA
}

body {
    font-family: 'Averta', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    display: block;
}

html, body {
    height: 100%;
}