.page {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 50px 100px 0 220px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calendarWrapper {
    margin-top: 20px;
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    box-shadow: var(--shadow);
    height: 700px;
}
