.form {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    color: var(--dark-grey);
}

.block:focus-within {
    border-color: var(--light-grey);
    box-shadow: var(--shadow);
}

.block:focus-within .label {
    color: var(--light-grey);
}
