.link {
    display: inline-block;
    color: var(--dark-grey);
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    background: none;
}

.link:hover {
    text-decoration: underline;
}
