.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.authLink {
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-grey);
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: 600;
    color: var(--dark-grey);
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.error {
    color: var(--deep-red);
    font-size: 16px;
}

