.page {
    display: flex;
}

.content {
    margin: 50px 100px 0 220px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    gap: 12px;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}

.mainContent {
    display: flex;
    gap: 40px;
}

.participantsList {
    flex: 0.8;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.arrow{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.participants{
    font-size: 32px;
    color: var(--dark-grey);
}

.addParticipants{
    font-size: 32px;
    border: 1px solid var(--light-grey);
    color: var(--grey)
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
