.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.button {
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
}

.customButton {
    margin-left: auto;
}