.form {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    color: var(--dark-grey);
}

.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: 1px solid var(--dark-white);
    border-radius: 10px;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.25);
    padding: 8px;
    position: relative;
}

.label {
    font-size: 18px;
    font-weight: 200;
    color: var(--dark-grey);
    position: absolute;
    top: -14px;
    left: 25px;
    pointer-events: none;
    background-color: var(--white);
    transition: all 0.2s ease-in-out;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: var(--dark-grey);
}

.tag span {
    font-size: 14px;
    color: var(--dark-grey);
}

.remove {
    background: none;
    border: none;
    font-size: 16px;
    color: #888;
    cursor: pointer;
}

.remove:hover {
    color: #f44336;
}

.remove:focus {
    outline: none;
}

.block:focus-within {
    border-color: var(--light-grey);
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.25);
}

.block:focus-within .label {
    color: var(--light-grey);
}

.checkboxLabel {
    font-size: 16px;
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.limitRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.checkboxWrap {
    font-size: 24px;
    font-weight: 400;
    color: var(--dark-grey);
    display: flex;
    gap: 8px;
}

.counter {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-white);
    border-radius: 10px;
    padding: 10px 60px;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.25);
}

.counterInput {
    width: 60px;
    text-align: center;
    font-size: 24px;
    color: var(--dark-grey);
    border: none;
    outline: none;
}

.counterBtn {
    background: none;
    border: none;
    font-size: 18px;
    color: var(--dark-grey);
    cursor: pointer;
    padding: 4px 8px;
}

.counterBtn:hover {
    color: var(--light-grey);
}

.counterBtn:focus {
    outline: none;
}

