.card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border-radius: 10px;
}

.avatar {
    width: 75px;
    height: 75px;
}

.info {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-grey);
}

.role {
    font-size: 24px;
    color: var(--grey);
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.menu {
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
    color: var(--grey);
}
