@font-face {
    font-family: 'Averta';
    src: url('./assets/fonts/Averta.woff2') format('woff2'),
    url('./assets/fonts/Averta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #ffffff;
    --color-light-gray: #f9f9f9;
    --color-light-gray-2: #dcdcdc;
    --color-gray-1: #d8d8d8;
    --color-gray-2: #d9d9d9;
    --color-light-blue: #d5eef3;
    --color-light-blue-2: #d0d4ed;
    --color-light-green: #bcdcc2;
    --color-pale-green: #a6d4af;
    --color-ash-gray: #c7c7c7;
    --color-gray-3: #b9b9b9;
    --color-gray-4: #7f7f7f;
    --color-warm-gray: #858585;
    --color-dark-gray: #696967;
    --color-dark-gray-2: #585858;
    --color-gray-5: #7b7b7b;
    --color-emerald-green: #25751e;
    --color-blue: #3a8d9d;
    --color-light-red: #FF8080;
    --color-pale-pink: #f2b7b7;
    --color-red: #A94242;
    --color-red-brown: #843F3F;
    --color-black-transparent: #00000033;
    --color-black: #000000;
}

body {
    font-family: 'Averta', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    display: block;
}

html, body {
    height: 100%;
}