.notifications {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
}

.title {
    font-size: 32px;
    font-weight: 500;
    color: var(--dark-grey);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    background-color: var(--dark-white_borders);
    padding: 16px;
    border-radius: 16px;
    position: relative;
}

.icon {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.nameRow {
    display: flex;
    gap: 6px;
    align-items: baseline;
    font-size: 27px;
    font-weight: 600;
    color: var(--dark-grey);
}

.year {
    font-weight: 400;
}

.text {
    font-size: 24px;
    color: var(--dark-grey);
    line-height: 1.4;
}

.date {
    font-size: 24px;
    align-self: flex-end;
    color: var(--grey);
}

.moreIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: var(--dark-grey);
    opacity: 0.6;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.moreIcon:hover {
    opacity: 1;
    transform: scale(1.05);
}

.moreIcon:active {
    transform: scale(0.95);
}

.menuDropdown {
    position: absolute;
    top: 40px;
    right: 16px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px 12px;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menuButton {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--light-red);
    cursor: pointer;
    padding: 6px;
    text-align: left;
    transition: background 0.2s;
}

.menuButton:hover {
    color: var(--deep-red);
}

.editIcon {
    width: 25px;
    height: 25px;
    cursor: pointer;

    transition: transform 0.2s ease;
}

.editIcon:hover {
    transform: scale(1.05);
}

.editIcon:active {
    transform: scale(0.95);
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
