.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--dark-grey);
    cursor: pointer;
}

.month {
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-grey);
}

.year {
    font-weight: 400;
}

.right {
    display: flex;
    gap: 20px;
}

.iconButton {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.iconButton img {
    width: 38px;
    height: 38px;
}
